@model TheLiquorCabinet.Models.Drink

@{
    ViewData["Title"] = "GetDrink";
}


<div class="text-center">
    <h2>@Model.Name</h2>
    <hr />
    <div class="row">
        <div class="col-md-7">
            <img src="@Url.Content(Model.PictureLink)" width="350px" />
        </div>
        <div class="col-md-5">
            <h3>Ingredients:</h3>
            @for (int i = 0; i < Model.Ingredients.Count; i++)
            {
                <p>
                    @if (i < Model.Measurements.Count)
                    {
                        @Model.Measurements[i]
                    }

                    @Model.Ingredients[i]

                </p>
            }
        </div>
    </div>
    <hr />
    <h3>Instructions:</h3>
    <p>@Model.Instructions</p>


    @*<hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@

