@using (Html.BeginForm())
    @model TheLiquorCabinet.Models.HomeViewModel
@{
    ViewData["Title"] = "Home";
<head>
    <script src="https://kit.fontawesome.com/7a92ca4a68.js" crossorigin="anonymous"></script>

</head>
}

<div class="text-center">

   

    <div class="row">

        <div class="col-md-3">
            <h2>Search By Ingredients</h2>
            <p>
                Use the search bar below to look for a drink by a certain ingredient or by multiple ingredients.
            </p>
            <form id="isearch" asp-controller="Drink" asp-action="SearchMultipleIngredientsNA">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <select class="js-example-basic-multiple" name="ingredients" multiple="multiple" required="required" style="width: 80%">
                    >
                    @foreach (var ingredient in Model.DbIngreds.Where(e => e.Alcohol != "Yes"))
                    {
                        <option value="@ingredient.Name">@ingredient.Name</option>
                    }
                </select>

                <button asp-action="SearchMultipleIngredientsNA" asp-controller="Drink" asp-route-ingredients="ingredients"
                        class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>

        <div class="col-md-3">
            <h2>Search for a Drink</h2>
            <p>
                Use the search bar below to look for one or more specific drinks from the database.
            </p>

            <form id="isearch" asp-controller="Drink" asp-action="DrinkNameSearch" style="font-size:medium">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <select class="js-example-basic-multiple" name="names" multiple="multiple" required="required" style="width: 80%">
                    >
                    @for (int i = 0; i < Model.DrinksNA.Name.Count; i++)
                    {
                    <option value="@Model.DrinksNA.Name[i]">@Model.DrinksNA.Name[i]</option>
                    }
                    @*@foreach (var drink in Model.DrinksNA.Name)
                    {
                        <option value="@drink.Name ">@</option>
                    }*@
                </select>
                <button asp-action="DrinkNameSearch" asp-controller="Drink" asp-route-names="names"
                        class="btn btn-primary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>

        <div class="col-md-3">
            @if (ViewBag.Username == null)
            {
                <h2>Set up a Cabinet</h2>
                <p>
                    Register a username to save ingredients to your cabinet and get drink recipes based on the ingredients you have!
                </p>
                <a asp-action="Register" class="btn btn-primary"
                   asp-controller="User">Register</a>
            }
            @if (ViewBag.Username != null)
            {
                <h2>@ViewBag.Username's Cabinet</h2>
                <p>
                    View ingredients in your cabinet and search for drinks based on ingredients you have!
                </p>
                <a asp-action="Cabinet" class="btn btn-primary"
                   asp-controller="User">Go to Cabinet</a>
            }
        </div>

        <div class="col-md-3">
            <h2>Feeling lucky?</h2>
            <p>
                If you're feeling adventurous, click the button for a random drink.
            </p>
            <a asp-action="GetDrink" asp-controller="Drink" asp-route-id="@Model.Drink.ID"><img src="@Url.Content(Model.Drink.PictureLink)" height="75" width="75" /></a>
            <br />
            <br />
            <a asp-action="FeelingLuckyNA" class="btn btn-primary"
               asp-controller="Home">Search for a Drink</a>

        </div>



    </div>


</div>
<br />
<img src="~/css/Images/stefano-ghezzi-wKlvN9z3PCI-unsplash-3.jpg" style="height: auto; width:auto " />